.jam {
  --color-white-100: #eaecf0;
  --color-white-200: #dcddde;
  --color-white-300: #b9bbbe;
  --color-white-400: #818285;
  --color-dark-500: #39475c;
  --color-dark-600: #4f545c;
  --color-dark-650: #474b52;
  --color-dark-700: #36393f;
  --color-dark-750: #2f3136;
  --color-dark-800: #292b2f;
  --color-dark-850: #202225;
  --color-dark-900: #18191c;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #55a5e7;
  --color-light-blue: #5476aa;
  --color-jam-default: rgb(75, 85, 99);

  /* width: 100%; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  background-color: #e0e0e0;
}

.pcon, .pmodal {
  background-color: white;
}

/* markdown styling */
.jam .markdown a {
  text-decoration: underline;
  color: rgba(30, 64, 175); /* blue-800 */
}

/* util */
.spaced-w-2 > *:not(:last-child) {
  margin-right: 0.5rem;
}
.spaced-h-2 > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* bazaar */
.jam .room-header a[href^="https://gumroad.com"]
{
  background-image: url('/img/bazaar/gumroad-logo.svg');
  background-repeat: no-repeat;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^="https://paypal.me"]
{
  background-image: url('/img/bazaar/paypal-logo.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='bitcoin:'] {
  background-image: url('/img/bazaar/bitcoin-logo.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://github.com']
{
  background-image: url('/img/bazaar/github-logo.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://beondeck.com']
{
  background-image: url('/img/bazaar/ondeck-logo.png');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://ycombinator.com']
{
  background-image: url('/img/bazaar/ycombinator-logo.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://tiktok.com']
{
  background-image: url('/img/bazaar/tiktok-logo.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://twitter.com']
{
  background-image: url('/img/bazaar/twitter-logo.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://patreon.com']
{
  background-image: url('/img/bazaar/patreon-logo.png');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://ko-fi.com']
{
  background-image: url('/img/bazaar/kofi-logo.png');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://youtube.com']
{
  background-image: url('/img/bazaar/youtube-logo.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://instagram.com']
{
  background-image: url('/img/bazaar/instagram-logo.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://twitch.tv'],
.jam .room-header a[href^='https://www.twitch.tv']
{
  background-image: url('/img/bazaar/twitch-logo.png');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href$='substack.com'] {
  background-image: url('/img/bazaar/substack-logo.png');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href$='transistor.fm'], .room-header a[href^='https://share.transistor.fm'], a[href^='https://transistor.fm']
{
  background-image: url('/img/bazaar/transistorfm-logo.png');
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='ethereum:'] {
  background-image: url('/img/bazaar/ethereum-logo.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 4px;
  padding-left: 23px;
  text-decoration: underline;
}

.jam .room-header a[href^='https://cash.app']
{
  background-image: url('/img/bazaar/cashapp-logo.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 20px;
  text-decoration: underline;
}

.jam .room-header .call-to-action a {
  background-repeat: no-repeat;
  background-size: 18px;
  text-decoration: none;
}

.jam .room-header .call-to-action a[href^="https://paypal.me"]
{
  background-image: url('/img/bazaar/paypal-logo.svg');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^="https://gumroad.com"]
{
  background-image: url('/img/bazaar/gumroad-logo.svg');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='bitcoin:'] {
  background-image: url('/img/bazaar/bitcoin-logo.svg');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://github.com']
{
  background-image: url('/img/bazaar/github-logo.svg');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://beondeck.com']
{
  background-image: url('/img/bazaar/ondeck-logo.png');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://ycombinator.com']
{
  background-image: url('/img/bazaar/ycombinator-logo.svg');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://tiktok.com']
{
  background-image: url('/img/bazaar/tiktok-logo.svg');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://twitter.com']
{
  background-image: url('/img/bazaar/twitter-logo.svg');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://patreon.com']
{
  background-image: url('/img/bazaar/patreon-logo.png');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://ko-fi.com']
{
  background-image: url('/img/bazaar/kofi-logo.png');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://youtube.com']
{
  background-image: url('/img/bazaar/youtube-logo.svg');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://instagram.com']
{
  background-image: url('/img/bazaar/instagram-logo.svg');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://twitch.tv'],
.jam .room-header .call-to-action a[href^='https://www.twitch.tv']
{
  background-image: url('/img/bazaar/twitch-logo.png');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href$='substack.com'] {
  background-image: url('/img/bazaar/substack-logo.png');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href$='transistor.fm'], .room-header .call-to-action a[href^='https://share.transistor.fm'], .room-header .call-to-action a[href^='https://transistor.fm']
{
  background-image: url('/img/bazaar/transistorfm-logo.png');
  background-position: 20px 50%;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='ethereum:'] {
  background-image: url('/img/bazaar/ethereum-logo.svg');
  background-position: 22px 50%;
  background-size: 12px;
  padding-left: 48px;
}

.jam .room-header .call-to-action a[href^='https://cash.app']
{
  background-image: url('/img/bazaar/cashapp-logo.svg');
  background-position: 16px 50%;
  background-size: 16px;
  padding-left: 48px;
}

.jam h1,
.jam h2,
.jam h3 {
  color: black;
  width: 100%;
  font-weight: normal;
}
.jam h1 {
  font-size: 24px;
}
.jam h2 {
  color: #9c9c9c;
  font-size: 20px;
  margin: -4% 0 6% 0;
}
.jam input,
.jam textarea {
  padding: 10px;
  font-size: 18px;
  border: 0;
  border-radius: 3px;
  border: 1px solid rgb(213, 213, 213);
}
.jam input[type='color'] {
  padding: 0;
}
.jam table td {
  padding: 0;
  border: 5px solid transparent;
  vertical-align: top;
}

.jam .human-radius {
  border-radius: 42%;
}

.dark.jam {
  background-color: var(--color-dark-900);
  color: var(--color-white-200);
}

.dark .pcon {
  background-color: var(--color-dark-800);
  color: var(--color-white-200);
  border: none !important;
}

.dark .pnav {
  background-color: var(--color-dark-800);
  color: var(--color-white-200);
  border: none !important;
}

.dark .bg-gray-50 {
  background-color: var(--color-dark-850);
}

.dark .bg-gray-200, .dark .bg-gray-100 {
  background-color: var(--color-jam-default) !important;
  color: var(--color-white-200);
}

.dark .text-gray-600, .dark .text-gray-500 {
  color: var(--color-white-200);
}

.dark.jam h1, .dark.jam h2, .dark.jam h3 {
  color: var(--color-white-200);
}

.dark .text-black {
  color: var(--color-white-200);
}

/* For the avatars */
.dark .bg-white {
  background-color: var(--color-dark-800);
}

.dark .bg-gray-300 {
  background-color: var(--color-white-400);
}

/* Mute svg on avatar */
.dark .pmute {
  fill: var(--color-white-200);
}

.dark hr {
  border-color: var(--color-dark-600);
}

.dark .pmodal {
  background-color: var(--color-dark-800);
}

.dark .border-gray-400 {
  border-color: var(--color-dark-650);
}

.dark .border-gray-300 {
  border-color: var(--color-dark-600);
}